body{
  margin: 0;
  font-family: 'Noto Serif', serif;
}

.carousel-item {
  background-color: #f1f1f1;
  text-align: center;
  
  
}
.link-text{
  color: black;
}
.paragraph{
   font-style: normal;
}
.price{
  font-weight: 900;
  color: orangered;
  font-size: 25px;
}
.card-title{
  font-weight: 600;
}

.first-block{
  padding: 10px 48px 48px 48px;
}
.header-bg{
  background-color: #fff9f4;
}

.shoe-card {
  border: 0;
  border-radius: 5px;
}
.shoeprice{
  font-weight: bold;
  text-decoration: orangered;
}


.navbar-brand{
  font-weight: bold;
}
.navbar-inner {
    background: transparent;
    
  }

  .card {
    padding: 15px;
  }

  .gray-bg {
    background-color: #f1f1f1;
    border: 0;
    border-radius: 5px;
  }
  
  .customer-card {
    border-radius: 5px;
    margin: 10px;
  }

  .buy-button {
    width: 140px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgb(44, 33, 201);
    font-size: small;
  }

h1{
  color: orangered;
  font-weight: bold;
}

h3{
  color: black;
  font-weight: 700;
  font-size: 30px;
}

  
  section{
    margin-bottom: 30px;
  }